<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.mapper.OrderMapper">

    <select id="selectAllOrderManager" resultType="com.kangkang.pojo.OrderManager">
        select * from software_engine_design.orders
        <where>
            <if test="orders.name!=null and orders.name!=''">
                and `name` like #{orders.name}
            </if>
            <if test="orders.idNumber!=null and orders.idNumber!=''">
                and `id_number` like #{orders.idNumber}
            </if>
            <if test="orders.tel!=null and orders.tel!=''">
                and `tel` like #{orders.tel}
            </if>
        </where>
        limit #{begin},#{size}
    </select>
    <select id="selectAllOrderManagerCount" resultType="java.lang.Integer">
        select count(*) from software_engine_design.orders
        <where>
            <if test="orders.name!=null and orders.name!=''">
                and `name` like #{orders.name}
            </if>
            <if test="orders.idNumber!=null and orders.idNumber!=''">
                and id_number like #{orders.idNumber}
            </if>
            <if test="orders.tel!=null and orders.tel!=''">
                and tel like #{orders.tel}
            </if>
        </where>
    </select>
</mapper>